*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-image: url("assets/images/fondo.jpg");
  background-size: 60%;

}

header p{
  background-color: #1da1f2;
  height: 60px;
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.content-div{
  padding: 20px;
}

section {
  margin: 10px 80px;

}

.text-content{
  overflow:hidden;

}
.content{
  background-color: #fff;
  border: 1px solid black;
  margin:  80px;  
}

.content-div, .content-form{
  display: inline-block;
  border: 1px solid black;
  width: 48%;
  height: 200px;
  background-color: #fff;
  vertical-align: top;
}

.content-form .text-content{
  border: none;
  border-bottom: 1px solid blue;
}

.contador{

  display: inline-block;
}
